*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 41%, 84%);
}

.calculator-body {
  margin-top:150px;
  max-height: calc(95vh - 150px);
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px 25px 0 0;
  padding: 25px ;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}